# =============== DEVELOPMENT MODE ================#
DEVELOPMENT_MODE=true
# =============== END DEVELOPMENT MODE ================#

# =============== PORT RUNNING SERVER ================#
PORT_SERVER=3001
# =============== END PORT RUNNING SERVER ================#

APP_DOMAIN=http://localhost:3001